@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navbar */
#Home{
  height: 110vh;
  position: relative;
  margin-bottom: 50px;
}


#top-head{
  height: 100vh;
  background-image: url("./unnamed1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

}

.banner h1{
  font-size: 70px;
  width: 70%;
  /* text-align: center; */
  padding: 100px 100px;
  color: rgb(255, 255, 255);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 30px 20px;
}
.navbar .logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.navbar ul li a:hover {
    text-decoration: underline;
}
.navbar .shopping-icon {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}


.orderform{
  width: 80%;
  margin: auto;
  position: absolute;
  top: 87%;
  left: 10%;
  border: 1px solid #EBEAEA;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgb(243, 240, 240);

}

.orderform form{
  padding: 35px 0;
  background-color: #fffefe;
  display: flex;
  border-radius:10px;
  justify-content: space-around; 
}

 /* form  button,select{
 padding: 10px 30px;
}  */

.switchdiv{
  border: 1px solid #EBEAEA;
  border-radius: 10px;
}

.switches{
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: white;
}

form select{
  padding: 5px 40px;
  border-radius: 10px;
  
}

.searchbtn{
  padding: 5px 50px;
  background-color: orange;
  color: white;
  border: 1px solid #EBEAEA;
  border-radius: 10px;
}


/* car cover div */
.carcover{
  height: 40vh;
  width: 80%;
  margin: auto;
}
.har-row{
  width: 100%;
  display: flex;
  
}

.har-col{
  width: 50%;
  padding: 10px 30px; 
}

.har-card-1{
  background-color: rgba(30, 30, 167,0.67);
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  border-radius: 15px;
  position: relative;
}

.carimg img{
  width: 280px;
  height: 250px;
  margin-left: 10%;
}


.har-card-2{
 background-color: rgb(204, 186, 81);
}


.har-card-1 button{
  padding: 5px 20px;
  backdrop-filter: blue(30px) ;
  border: none;
  border-radius: 5px;
}

.disc-card{
  background-color: white;
  color: rgba(30, 30, 167,0.67) ;
  height: 5rem;
  width: 5rem;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 40%;
}


/* Gategory Swection */
#gategory{
  height: 90vh;
  width: 90%;
  margin: auto;
  padding: 60px 0;
}

.gat-row{
  text-align: center;
  padding: 0px 0;

}

.gat-row h1{
  font-size: 2rem;
  padding: 20px;
}
.gategory-row{
  display: flex;
}

.gat-col img{
  height: 300px;
  width: 280px;
}

.gat-col{
  width:20%;
}

.gat-cols{
  width: 17%;
  margin: auto;
  display: flex;
  justify-content: center;
  
}

.gat-cols img{
height: 150px;
width: 200px;
}

.gat-card{
  padding: 30px 10px;
}

.g-col1{
  background-color: rgb(206, 255, 253);
}
.g-col2{
  background-color:rgb(166, 232, 252) ;
}
.g-col3{
  background-color: pink;
}
.g-col4{
  background-color: rgb(240, 181, 191);
}


/* why choose us  */
.testi-sec{
  background-color: rgba(190, 215, 230,0.32);
}

#why-sec{
  height: 120vh;
}

.why-row1{
  display: flex;
  width: 90%;
  margin: auto;
  position: relative;
  height: 90vh;
}

.why-col1{
  height:300px;
  width: 300px;
  background-color: #B3FFAB;
  text-align: center;
  align-content: center; 
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: -50%;
}

.why-col2{
  height: 450px;
  width: 450px;
  background-color: #d7d2cc;
  border-radius: 50%;
  align-content: center; 
  margin-left: 21%;
  position: relative;
}

.why-col2 h5{
  text-align: left;

}

.why-col2 h5{
  padding: 0 30px 20px 90px;
}

.spa1{
position: absolute;
font-size: 50px;
top: 2%;
left: 70%;
background-color:#1cefff;
padding: 0 15px;
border-radius: 50%;
}


hr{
  width: 80px;
  margin: 20px 10px;
}

.spa2{
  position: absolute;
  font-size: 50px;
  top: 25%;
  left: 90%;
  background-color:#00B4DB;
  padding: 0 15px;
  border-radius: 50%;
  }

  .spa3{
    position: absolute;
    font-size: 50px;
    top: 55%;
    left: 88%;
    background-color:#3c1053;
    padding: 0 15px;
    border-radius: 50%;
    }


    .spa4{
      position: absolute;
      font-size: 50px;
      top: 83%;
      left: 70%;
      background-color:#3c1053;
      padding:10px 15px 0 15px; 
      border-radius: 50%;
      }

      .why-col11{
        display: flex;
        position: absolute;
        top: 0;
        left:57% ;
      }

.why-col22{
  display: flex;
  position: absolute;
  top:20% ;
  left:63% ;
}

.why-col33{
  display: flex;
  position: absolute;
  top:45% ;
  left:63% ;
}

.why-col44{
  display: flex;
  position: absolute;
  top: 70% ;
  left:57% ;
  
}




.why-row2{
  display: flex;
  width: 80%;
  margin: auto;
}

.why-card i{
  font-size: 50px;
}

.why-cols{
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.why-card{
  text-align: center;
}



/*  */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.why-choose-us {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.why-choose-us h2 {
    margin-top: 0;
}

.why-choose-us p {
    margin-bottom: 20px;
}

/* Add responsiveness */
@media (max-width: 768px) {
   .container {
        margin: 20px auto;
        padding: 10px;
    }
    
   .why-choose-us {
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
   .container {
        margin: 10px auto;
        padding: 5px;
    }
    
   .why-choose-us {
        padding: 5px;
        margin-bottom: 5px;
    }
}

/* testionial */

:root {
    --primary-color: #1a2c50;
    --secondary-color: #f4f7fe;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #ffffff;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  bodies {
    /* font-family: 'Noto Serif', serif; */
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .section__container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }
  
  .header {
    margin-bottom: 2rem;
  }
  
  .header p {
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .header h1 {
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 900;
  }
  
  .testimonials__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .card {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: var(--extra-light);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .card i {
    font-size: 2.5rem;
    color: gold;
  }
  
  .card p {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .card hr {
    width: 40px;
    margin: auto;
    color: var(--text-light);
  }
  
  .card img {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
  }
  
  .card .name {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .card .name:hover {
    color: var(--primary-color);
  }
  
  .footer h4 {
    font-family: "Noto Serif", serif;
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  
  .footer p {
    max-width: 450px;
    margin: auto;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .footer button {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--extra-light);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (width < 900px) {
    .testimonials__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  
  @media (width < 600px) {
    .testimonials__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/responsive/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}